body {
  background-image: url("admin-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h2
{
    color:aliceblue;
}
.team-item p
{
    color: aliceblue;
}
.link {
  display: flex;
  position: fixed;
  top: 10;
  justify-content: space-evenly;
  width: 800px;
  height: 55px;
  font-size: 22px;
  margin-left: 330px;
}

a {
  text-decoration: none;
  color: rgb(215, 241, 249);
}

.title p{
  margin-top: 100px;
  font-size: 60px;
  font-weight: bolder;
  color: rgb(250, 243, 245);
  text-align: center;
}
.team{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}
.team-item{
  margin: 20px;
  text-align: center;
}

.team-item img{
  max-width: 200px;
  max-height: 200px;
  border-radius: 30px;
}
.info{
  text-decoration: none;
  color: rgb(139, 0, 0);
  text-align: center;
  margin: left 330px;;
  
  }

.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: bisque;
    color: rgb(6, 6, 6);
    text-align: center;
    padding:5px;
    left:0;
}
