.link {
  display: flex;
  position: fixed;
  top: 10;
  justify-content: space-evenly;
  width: 800px;
  height: 55px;
  font-size: 22px;
  margin-left: 330px;
}

a {
  text-decoration: none;
  color: rgb(215, 241, 249);
}
body {
  background-image: url("cont-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
h2{
    color: aliceblue;
    position: relative;
    top: 250px;
    left: 1000px;
    font-size: 40;
    
}
.info p
{
    color: aliceblue;
    position: relative;
    top: 250px;
    left: 60px;
    font-size: 30;
    text-align: center;
}
.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: bisque;
    color: rgb(6, 6, 6);
    text-align: center;
    padding:5px;
    left:0;
}
