body
{
    background-image: url('admin-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
    

}
.restname
{
   position: fixed;
   padding-left: 500px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-left: 5px;
   font-size: 50;
   color: rgb(251, 247, 191);
}
.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: bisque;
    color: rgb(6, 6, 6);
    text-align: center;
    padding:5px;
    left:0;
}
.caption
{
    
    
    margin-left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30;
    color: rgb(249, 137, 137);
    padding-left: 470px;
    padding-top: 200px;
    
    
}

.link {
  display: flex;
  position: fixed;
  top: 10;
  justify-content: space-evenly;
  width: 800px;
  height: 55px;
  font-size: 22px;
  margin-left: 330px;
}

a {
  text-decoration: none;
  color: rgb(215, 241, 249);
}
